<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer class="container-fluid bg-light" data-th-fragment="footer">
        <div class="container text-center">
            <div>
                <a href="#" class="btn btn-light">关于我们</a>
                <a href="#" class="btn btn-light">联系我们</a>
            </div>
            <p>@2018-2018 信鸽比赛</p>
        </div>
        <!-- JavaScript -->
        <script src="../../static/js/jquery/jquery.js" th:src="@{/js/jquery/jquery.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.js" th:src="@{/js/bootstrap/bootstrap.js}"></script>
        <script src="../../static/js/bootstrap/bootstrap.bundle.js" th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
        <script src="../../static/js/bootstrap/bootstrapValidator.js" th:src="@{/js/bootstrap/bootstrapValidator.js}"></script>
    </footer>
</body>
</html>